<table class="prescription_box" width=200px>
	<tr>
		<td class="prescription_box_top"><span class="prescription_box_text"><%= "#{scrip.drug.name} - #{scrip.quantity} #{scrip.units}" %></span></td>
	</tr>
	<tr>
		<td class="prescription_box_orders">Orders: <span class="prescription_box_text"><%= "#{scrip.orders}" %></span></td>
	</tr>
	<tr>
		<td class="prescription_box_signature"><%= "#{scrip.signed} - #{scrip.given_date}" %></td>
	</tr>
</table>