body
{
	text-align: center;
	background-image: url('/images/Caduceus.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #000088;
}

#frame1
{
	width: 650px;
	margin-right:auto;
	margin-left:145px;
	margin-top:5px;
	padding: 0px;
	text-align: left;
}

#frame2
{
	background-color: #F8F8FF;
	width: 650px;
	margin:0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	border: #AAAAAA solid thin;
}

h1
{
	margin-left:5px;
	margin-right:5px;
	font-family: courier, serif;
	border-bottom: #CCCCCC solid thin;
	border-right: #CCCCCC solid thin;
	color: #000088;
	text-align: left;
}

h2
{
	margin-left:25px;
	margin-right:5px;
	font-family: courier, serif;
	color: #000088;
	text-align: left;
}

hr
{
	border: 0;
	height: 1px;
	background-color: #CCCCCC;
	width: 80%;
}

table.user_box{

}

table.list
{
	border-collapse: collapse;
	border: #AAAADD solid thin;
	font-size: 14pt;
}

td.form_filled_in
{
	color: #000;
	font-family: monospace;
	font-size: 14pt;
}

table.layout
{
	border-collapse: collapse;
	border: none;
}

th
{
	text-align: left;
	color: #000088;
	background-color: #AAAAFF;
	padding-left: 5px;
	padding-right: 5px;
	padding-top:4px;
	padding-bottom:2px;
}

td
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top:4px;
	padding-bottom:2px;
}

tr.odd_row
{
	background-color: #FFFFFF
}

tr.even_row
{
	background-color: #EEEEFF
}

tr.odd_form_row
{
}

tr.even_form_row
{
	background-color: #F0F0FF
}

table.live_search_small
{
	margin-left:25px;
	margin-top:10px;
	border-collapse: collapse;
	font-size: 12pt;
	font-color: #2222AA;
}

table.live_search_small>tr.result {
	background-color: #AAFFAA;
}

table.live_search
{
	margin-left:25px;
	margin-top:15px;
	border-collapse: collapse;
	font-size: 16pt;
	font-color: #2222AA;
}

table.live_search>tr.patient {
	background-color: #AAFFAA;
}

table.live_search>tr.spacer {
}

.warning_flash
{
	background:#FFFFAA;
	border:1px solid black;
	padding:0px;
	padding-right:5px;
	margin-bottom: 5pt;
}

.error_flash
{
	background:#FF8888;
	border:1px solid black;
	padding:0px;
	padding-right:5px;
	margin-bottom: 5pt;
}

.notice_flash
{
	background:#AAAAFF;
	border:1px solid black;
	padding:0px;
	padding-right:5px;
	margin-bottom: 5pt;
}

img.flash {
	vertical-align:middle;
	border-right:solid thin black;
	background:#ffffff;
	padding:5px;
	margin-right:5px;
}

.user_box
{
	font-size: 9pt;
	font-family: monospace;
	color: #333333;
	padding: 1px;
	padding-top: 2px;
	margin: 1pt;
	text-align: right;
}

.small
{
	font-size: 10pt;
	color: #333333;
}

.big {
	font-size: 14pt;
	color: #888888;
	line-height: 1.4
}

p.footer {
	font-size: 9pt;
	font-family: monospace;
	color: #AAAAAA;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: right;
}

a.big {
	font-size: 18pt;
	font-weight: bold;
	font-family: courier, serif;
}

a.medium {
	font-size: 14pt;
	font-weight: bold;
	font-family: courier, serif;
}

a.small {
	font-size: 10pt;
}

a.list {
	font-size: 10pt;
	font-family: monospace;
	vertical-align: middle;
}

a.list:before {
content: "[";
}

a.list:after {
	content: "]";
}

.inactive_list_link {
	font-size: 10pt;
	font-family: monospace;
	vertical-align: middle;
}

a:link {
	color: #1111DD;
	text-decoration: none;
}
a:visited {
	color: #1111DD;
	text-decoration: none;
}
a:hover {
	color: #44AAFF;
	text-decoration: none;
}
a:active {
	color: #1111DD;
	text-decoration: none;
}

label {
	text-align:right;
	float:left;
	padding:0.2em;
	margin:0;
	margin-top:0.3em;
	font-family: serif;
	font-size: 14pt;
	font-weight: bold;
	color: #000088;
}

label.req {
	text-align:right;
	float:left;
	padding:0.2em;
	margin:0;
	margin-top:0.3em;
	font-family: serif;
	font-size: 14pt;
	font-weight: bold;
	color: #880000;
}

input {
	margin-right:3px;
	margin-left:3px;
	margin-top:3px;
	margin-bottom:3px;
	padding: 3px;
	font-size: 14pt;
	font-family: serif;
	border:solid 1px #000;
	color: #000088;
}

input.checkbox {
	margin-right:3px;
	margin-left:3px;
	margin-top:3px;
	margin-bottom:3px;
	width: 20px;
	height: 20px;
	padding: 3px;
	font-size: 14pt;
	font-family: serif;
	border:solid 1px #000;
	color: #000088;
}

input.radio {
	margin-right:3px;
	margin-left:3px;
	margin-top:3px;
	margin-bottom:3px;
	width: 20px;
	height: 20px;
	padding: 3px;
	font-size: 14pt;
	font-family: serif;
	border:solid 1px #000;
	color: #000088;
}

textarea {
	margin-right:3px;
	margin-left:3px;
	margin-top:3px;
	margin-bottom:3px;
	padding: 3px;
	font-size: 14pt;
	font-family: serif;
	border:solid 1px #000;
	color: #000088;
}

select {
	margin-right:3px;
	margin-left:3px;
	margin-top:3px;
	margin-bottom:3px;
	font-size: 14pt;
	font-family: serif;
	border:solid 1px #000000;
	color: #000088;
}

.chart_box {
	margin: 0px;
	padding: 0px;
	border: solid thin #888;
}

.instructions {
	padding-left:10px;
	padding-right:10px;
	padding-top:4px;
	padding-bottom:4px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #888888;
	background: #eee;
	font-size:11pt;
	width: 75%;
	color: #333;
}

td.form_instructions {
	font-size:10pt;
	font-style: italic;
	margin: 0px;
	padding: 2px;
	padding-top: 0px;
	padding-left: 25px;
}

.login_form {
	font-family: Arial, Sans-Serif;
    font-size: 60px;
	width: 100px;
	text-align: center;
	border:solid 1px #000;
	padding:15px;
}
