<head>
	<title>Security Error</title>
</head>
<body>
	<div class="security_box">
		<h1>ERROR - Invalid security key</h1>
		<p>Please insert the security key and click "Retry" below</p>
	</div>
</body>