<table class="tb_test_box" width=200px>
	<tr class="tb_test_box_top">
		<td class="tb_test_box_title">PPD Given: <span class="tb_test_box_text"><%= "#{tb_test.given_date}" %></span></td>
	</tr>
	<% if tb_test.read %>
		<% if tb_test.positive? %>
			<tr>
				<td class="tb_test_box_middle"><span class="tb_test_box_result"><img src="/images/positive_red.png" width=24 align=top> Positive</span></td>
			</tr>
		<% elsif tb_test.negative? %>
			<tr>
				<td class="tb_test_box_middle"><span class="tb_test_box_result"><img src="/images/negative_red.png" width=24 align=top> Negative</span></td>
			</tr>
		<% elsif tb_test.unknown? %>
			<tr>
				<td class="tb_test_box_middle"><span class="tb_test_box_result"><img src="/images/unknown.png" width=24 align=top> Unknown</span></td>
			</tr>
		<% end %>
	<% else %>
		<tr>
			<td class="tb_test_box_middle">Due: <span class="tb_test_box_text"><%= "#{tb_test.due_date_min.strftime('%a')} - #{tb_test.due_date_max.strftime('%a')}" %></span></td>
		</tr>
		<tr>
			<td class="tb_test_box_middle">Arm: <span class="tb_test_box_text"><%= "#{tb_test.given_arm}" %></span></td>
		</tr>
	<% end %>
	
	<tr>
		<td class="tb_test_box_middle">Notes: <span class="tb_test_box_text"><%= "#{tb_test.notes}" %></span></td>
	</tr>
	<tr>
		<td class="tb_test_box_middle">Given By: <span class="tb_test_box_text"><%= tb_test.givenby_user.to_label %></span></td>
	</tr>
	<% if tb_test.read&&!tb_test.noshow? %>
		<tr>
			<td class="tb_test_box_middle">Read By: <span class="tb_test_box_text"><%= "#{tb_test.readby_user.to_label}" %></span></td>
		</tr>
	<% end %>
	
	<% if tb_test.ready_to_be_read %>
		<tr>
			<td class="tb_test_box_middle"><span class="tb_test_box_text_lot"><%= "Lot# #{tb_test.lot_number} | Exp:#{tb_test.expiration_date}" %></span></td>
		</tr>
		<tr>
			<td class="tb_test_box_bottom"><span class="tb_test_box_text"><%= link_to 'Read', {:controller => 'tb_test', :action => 'read', :id => tb_test}, :class => 'list' %> | <%= link_to 'No-Show', {:controller => 'tb_test', :action => 'no_show', :id => tb_test}, :confirm => "Are you sure you want to mark #{tb_test.patient.first_name} #{tb_test.patient.last_name} as a No-Show?", :class => 'list' %></span></td>
		</tr>
	<% elsif tb_test.overdue %>
		<tr>
			<td class="tb_test_box_middle"><span class="tb_test_box_text_lot"><%= "Lot# #{tb_test.lot_number} | Exp:#{tb_test.expiration_date}" %></span></td>
		</tr>
		<tr>
			<td class="tb_test_box_bottom"><span class="tb_test_box_text"><%= link_to 'No-Show', {:controller => 'tb_test', :action => 'no_show', :id => tb_test}, :confirm => "Are you sure you want to mark #{tb_test.patient.first_name} #{tb_test.patient.last_name} as a No-Show?", :class => 'list' %></span></td>
		</tr>
	<% else %>
		<tr>
			<td class="tb_test_box_bottom"><span class="tb_test_box_text_lot"><%= "Lot# #{tb_test.lot_number} | Exp:#{tb_test.expiration_date}" %></span></td>
		</tr>
	<% end %>
</table>