<h1>PPD: <%= "#{@item.patient.first_name} #{@item.patient.last_name} - #{@item.given_arm} Arm" %></h1>

<% form_tag :action => 'set_result' do -%>
	<table class="layout">
		<tr>
			<td><label for='result'>Result:</label></td>
			<td><%= select_tag("result", "<option>Positive</option><option>Negative</option><option>Unknown</option>") %></td>
		</tr>
		<tr>
			<td><label for='notes'>Notes:</label></td>
			<td><%= text_area_tag "notes" %></td>
		</tr>
		<tr>
			<td colspan=2 align=right><%= submit_tag 'Save' %></td>
		</tr>
	</table>
	
	<%= hidden_field_tag 'id', "#{@item.id}" %>
<% end -%>