<h1>PPD: <%= "#{@item.patient.first_name} #{@item.patient.last_name} - #{@item.given_arm} Arm" %></h1>

<% form_tag :action => 'set_result' do -%>
	<table class="layout">
		<tr bgcolor=#F0F0FF>
			<td><label for='result'>Result:</label></td>
			<td><%= select :tb_test, :result, [@item.positive_result, @item.negative_result, @item.unknown_result], {:include_blank => true, :selected => nil} %></td>
		</tr>
		<tr>
			<td><label for='notes'>Notes:</label></td>
			<td><%= text_area :tb_test, :notes, :value => @item.notes, :cols => 15, :rows => 3 %></td>
		</tr>
		<tr bgcolor=#F0F0FF>
			<td><label>Read by:</label></td>
			<td><%= user_field :readby_user_id, {:size => 26}  %></td>
		</tr>
		<tr>
			<td colspan=2 align=right><%= submit_tag 'Save' %></td>
		</tr>
	</table>
	
	<%= hidden_field :tb_test, :id, :value=>"#{@item.id}" %>
<% end -%>