<div class="security_box">
	<h1 class="security_error">ERROR - Invalid security key</h1>
	<p class="security_error">Please insert the security key and click "Retry" below</p>
	<div class="security_box_button">
		<%= link_to "<div>Retry</div>", {:controller => 'home', :action => 'index'}, :class => 'big' %>
	</div>
</div>