<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 <title>ClinicDB</title>
 <%= javascript_include_tag :defaults %>
 <%= active_scaffold_includes %>
</head>
<body>
	<center>
	<a href="/patient">Patients</a> |
	<a href="/visit">Visits</a> |
	<a href="/tb_test">TB_Tests</a> |
	<a href="/session">Sessions</a> |
	<a href="/attending">Attendings</a> |
	<a href="/user">Users</a>
	</center>
	
	<hr>

	<%= yield  %>
	
	<hr>
	<center> 
	<a href="/immunization">Immunization</a> |
	<a href="/family_history">Family Histories</a> |
	<a href="/childhood_disease">Childhood Diseases</a> |
	<a href="/ethnicity">Ethnicities</a>
	</center>

</body>
</html>