<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />
		<link rel="stylesheet" href="/stylesheets/patient_box.css" type="text/css" />
		<link rel="stylesheet" href="/stylesheets/visit_box.css" type="text/css" />
		<title>
			ClinicDB::<%= controller.controller_name.sub("_", " ").capitalize %>::<%= controller.action_name.sub("_", " ").capitalize %>
			<% if RAILS_ENV != 'production' %>
				<%= " - #{RAILS_ENV.capitalize}" %>
			<% end %>
		</title>
		<%= javascript_include_tag :defaults %>
		<%= active_scaffold_includes %>
		
		<SCRIPT LANGUAGE="JAVASCRIPT">
		<!--

		function setImage(img_name1, img_src1) {
		   document[img_name1].src = img_src1;
		}

		//-->
		</SCRIPT>
	</head>
	<body>
		<div id="frame1">
			<div id="frame2">
				<% if flash[:error] -%>
			    	<div class=error_flash><%= flash[:error] %></div>
			    <% end -%>
		
				<% if flash[:warning] -%>
			    	<div class=warning_flash><%= flash[:warning] %></div>
			    <% end -%>
		
				<% if flash[:notice] -%>
			    	<div class=notice_flash><%= flash[:notice] %></div>
			    <% end -%>
				<% ctrl_link = controller.controller_name.sub("_", " ").capitalize %>
				<% if ctrl_link != "Home" %>
					<h1><a href="/">ClinicDB</a>:<%= ctrl_link %></h1>
				<% else %>
					<h1><a href="/">ClinicDB:Home</a></h1>
				<% end %>
			
				<%= yield  %>
			
				<hr/>
				<div align=center>
					<a href="/home" class="small">Home</a> |
					<a href="/patient" class="small">Patients</a> |
					<a href="/visit" class="small">Visits</a> |
					<a href="/tb_test" class="small">TB Tests</a> |
					<a href="/session" class="small">Sessions</a> |
					<a href="/attending" class="small">Attendings</a> |
					<a href="/user" class="small">Users</a>
					<br/>
					<a href="/drug" class="small">Drugs</a> |
					<a href="/immunization_drug" class="small">Immunization Drugs</a> |
					<a href="/immunization_history" class="small">Immunization Histories</a> |
					<a href="/family_history" class="small">Family Histories</a> |
					<a href="/childhood_disease" class="small">Childhood Diseases</a> |
					<a href="/ethnicity" class="small">Ethnicities</a>
				</div>
			</div>
			<p class="footer">Created for the LSUSHC Homeless Clinic System</p>
		</div>
	</body>
</html>