<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/stylesheets/top_layout.css" type="text/css" />
		<link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />
		<link rel="stylesheet" href="/stylesheets/form.css" type="text/css" />
		<link rel="stylesheet" href="/stylesheets/patient_box.css" type="text/css" />
		<link rel="stylesheet" href="/stylesheets/visit_box.css" type="text/css" />
		<title>
			ClinicDB::<%= controller.controller_name.sub("_", " ").capitalize %>::<%= controller.action_name.sub("_", " ").capitalize %>
			<%= " - #{RAILS_ENV.capitalize}" if RAILS_ENV != 'production' %>
		</title>
		<%= javascript_include_tag :defaults %>
		<%= active_scaffold_includes %>
		
		<SCRIPT LANGUAGE="JAVASCRIPT">
		<!--

		function setImage(img_name1, img_src1) {
		   document[img_name1].src = img_src1;
		}

		//-->
		</SCRIPT>
	</head>
	<body>
		<div id="wrap">
			<div id="main_content">
				<% if flash[:error] -%>
			    	<div class=error_flash><img src="/images/error_32.png" class="flash"> <b>Error</b>: <%= flash[:error] %></div>
			    <% end -%>
		
				<% if flash[:warning] -%>
			    	<div class=warning_flash><img src="/images/warning_32.png" class="flash"> <b>Warning</b>: <%= flash[:warning] %></div>
			    <% end -%>
		
				<% if flash[:notice] -%>
			    	<div class=notice_flash><img src="/images/info_32.png"class="flash" > <b>Notice</b>: <%= flash[:notice] %></div>
			    <% end -%>
		
				<% if Session.todayNeedsOne? -%>
					<div class=notice_flash><img src="/images/info_32.png"class="flash" > <b>Notice</b>: 
					<% if adminMode? %>
			    		No session set for today. Please <%= link_to "click here", :controller=>:session, :action=>:start_session %> to start one.
			    	<% else %>
						No session set for today. Please log in as an Administrator to create one.
			    	<% end %>
					</div>
				<% end -%>
				
				<% unless %w(user:login).include? "#{params[:controller]}:#{params[:action]}"%>
					<div class=user_box>
						<% if session[:user]!=nil%>
							<%= link_to session[:user].to_label, {:controller=> "user", :action => "user_info", :user_id => session[:user].id } %> | <%= link_to "logout", :controller => "user", :action => "logout" %>
						<% else %>
							<%= link_to 'Log in', :controller => :user, :action => :login %>
						<% end %>
					</div>
				<% end %>
				
				<% ctrl_link = controller.controller_name.sub("_", " ").capitalize %>
				<% if ctrl_link != "Home" %>
					<h1><a href="/">ClinicDB</a>:<%= ctrl_link %></h1>
				<% else %>
					<h1><a href="/">ClinicDB:Home</a></h1>
				<% end %>
			
				<%= yield %>
			
				<br/>
			<% if adminMode? %>
				<hr/>
				<div align=center class="small">
					Utilities: 
					<a href="/report" class="small">Reports</a> |
					<a href="/report/patients_by_session" class="small">Visits</a> |
					<a href="/option" class="small">History Options</a> |
					<a href="/user/manager" class="small">Users</a>  |
					<a href="/drug/manage_drugs" class="small">Drugs</a> 
					<br/>
					Internal pages:
					<a href="/patient" class="small">Patients</a> |
					<a href="/visit" class="small">Visits</a> |
					<a href="/tb_test" class="small">TB Tests</a> |
					<a href="/session" class="small">Sessions</a> |
					<a href="/attending" class="small">Attendings</a>
					<br/>
					<a href="/home/change_admin_password" class="small">Change Admin Password</a> |
					<a href="/setting" class="small">Settings</a>
					
				</div>
			<% end %>
			</div>
			<div id="footer">
				Created for the <a href='http://www.lsuhsc.edu/'>New Orleans LSUHSC</a> Homeless Clinic System <br/>
				<% if session[:user] && session[:user].can_be_admin %>
					Admin mode: <%= adminMode? ? "on|" + (link_to "off", {:controller => "home", :action => "turn_off_admin"}) : (link_to "on", {:controller => "home", :action => "request_on_admin"} )+"|off" %>|[<%= ((Time.now-$render_start_time)*1000).to_i %>ms]
				<% end %>
			</div>
		</div>
	</body>
</html>